@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.science-electrinc{
	position: absolute;
    width: 100%;
    height: 480px;
    background-image: url(../img/background-science.png);
	background-repeat:no-repeat;
	top:130px;
	right: 0;
	background-attachment:fixed;
	background-size: 100% 100%
}
.years-of-subject{
	position: absolute;
	top:20px;
	z-index:20;
	right: 0px;
}
.years-of-subject .fisrt-year-button{
	position: absolute;
    top: 185px;
    right: 220px;
    width: 223px;
    height: 60px;
    background-color: rgb(255, 131, 83);
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.years-of-subject .fisrt-year-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white
}
.years-of-subject .second-year-button{
	position: absolute;
    top: 185px;
    right: 572px;
    width: 223px;
    height: 60px;
    background-color:#056787;
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.years-of-subject .second-year-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white;
	
	
}
.years-of-subject .third-year-button{
	position: absolute;
    top: 185px;
    right: 920px;
    width: 223px;
    height: 60px;
    background-color:  rgb(75, 63, 139);
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.years-of-subject .third-year-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white
}
.years-of-subject .fisrt-year-button:hover,.years-of-subject .second-year-button:hover,.years-of-subject .third-year-button:hover
{
	transform:scale(1.07,1.07);
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject{
	position: relative;
    right: 8px;
	display:none;
	z-index:25
}
.science-electrinc .first-year-sebject i[ class="fas fa-arrow-left back1"] {
    position: absolute;
    top: 23px;
    left: 33px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}

.science-electrinc .first-year-sebject .subject-1{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: rgb(255, 131, 83);
    border-radius: 50%;
    top: 60px;
    right: 50px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-1 img{
    width: 92px;
    height: 70px;
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-1 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-2{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 319px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-2 img {
    width: 97px;
    height: 77px;
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-2 h3 {
    color: white;
    position: absolute;
    top: 121px;
    right: 4px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-3{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 601px;	
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-3 img{
   	width: 94px;
    height: 68px;
    position: absolute;
    top: 30px;
    right: 13px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-3 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 2px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-4{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #c0392b;
    border-radius: 50%;
    top: 60px;
    right: 892px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-4 img{
    width: 103px;
    height: 78px;
    position: absolute;
    top: 21px;
    right: 12px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 26px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-5{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color:rgb(157, 54, 399);
    border-radius: 50%;
    top: 60px;
    right: 1168px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-5 img{
    width: 99px;
    height: 76px;
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 31px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-6{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #7072EC;
    border-radius: 50%;
    top: 282px;
    right: 50px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-6 img{
	width: 119px;
    height: 80px;
    position: absolute;
    top: 17px;
    right: -31px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-6 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 37px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-7{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #056787;
    border-radius: 50%;
    top: 282px;
    right: 319px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-7 img{
     width: 99px;
    height: 75px;
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-7 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 26px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.science-electrinc .first-year-sebject .subject-8{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #012E43;
    border-radius: 50%;
    top: 282px;
    right: 601px;
	transition:all 0.5s linear
}
.science-electrinc .first-year-sebject .subject-8 img{
	width: 102px;
    height: 82px;
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-8 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 27px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-9{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: rgb(75, 63, 139);
    border-radius: 50%;
    top: 282px;
    right: 892px;
	transition:all 0.5s linear
	
}
.science-electrinc .first-year-sebject .subject-9 img{
	width: 78px;
    height: 72px;
    position: absolute;
    top: 16px;
    right: 21px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-9 h3{
	 color: white;
    position: absolute;
    top: 121px;
    right: 31px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-10{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color:#27AD87;
    border-radius: 50%;
    top: 282px;
    right: 1168px;
	transition:all 0.5s linear
	
}
.science-electrinc .first-year-sebject .subject-10 img{
    width: 96px;
    height: 75px;
    position: absolute;
    top: 20px;
    right: 14px;
    cursor: pointer;
}
.science-electrinc .first-year-sebject .subject-10 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 39px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .first-year-sebject .subject-1:hover,.science-electrinc .first-year-sebject .subject-2:hover,.science-electrinc .first-year-sebject .subject-3:hover,.science-electrinc .first-year-sebject .subject-4:hover,.science-electrinc .first-year-sebject .subject-5:hover,.science-electrinc .first-year-sebject .subject-6:hover,.science-electrinc .first-year-sebject .subject-7:hover,.science-electrinc .first-year-sebject .subject-8:hover,.science-electrinc .first-year-sebject .subject-9:hover,.science-electrinc .first-year-sebject .subject-10:hover
{
	transform:scale(1.1,1.1);
	transition:all 0.5s linear
}

.subject-of-types{
	position: absolute;
	top:20px;
	z-index:30;
    right: 176px;
	display: none
}
.subject-of-types .science-button{
	position: absolute;
    top: 185px;
    right: 220px;
    width: 223px;
    height: 60px;
    background-color: rgb(255, 131, 83);
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.subject-of-types .science-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white
}
.subject-of-types .literary-button{
	position: absolute;
    top: 185px;
    right: 572px;
    width: 223px;
    height: 60px;
    background-color:#056787;
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.subject-of-types .literary-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white;
	
	
}

.subject-of-types .science-button:hover,.subject-of-types .literary-button:hover
{
	transform:scale(1.07,1.07);
	transition:all 0.5s linear
}
.science-electrinc .subject-of-types i[ class="fas fa-arrow-left back2"] {
    position: absolute;
    top: 3px;
    right: 1131px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .second-year-subject i[ class="fas fa-arrow-left back3"] {
    position: absolute;
    top: 14px;
    right: 1295px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department {
	display: none;
	position: absolute;
    right: 266px;
}
.science-electrinc .second-year-subject
{
	 position: absolute;
    right: -246px;
}
.science-electrinc .second-year-subject .scientific-department .subject-1{
    position: absolute;
    width: 120px;
    height: 110px;
    border-radius: 50%;
    top: 60px;
    right: 149px;
    transition: all 0.5s linear;
	background-color: rgb(255, 131, 83);
}
.science-electrinc .second-year-subject .scientific-department .subject-1 img{
	width: 82px;
    height: 78px;
    position: absolute;
    top: 19px;
    right: 24px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-1 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 16px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .second-year-subject .scientific-department .subject-2{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 446px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-2 img{
   	width: 87px;
    height: 78px;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-2 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 3px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 112px;
    font-size: 18px;
}
.science-electrinc .second-year-subject .scientific-department .subject-3 {
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 740px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-3 img{
    width: 87px;
    height: 78px;
    position: absolute;
    top: 25px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-3 h3{
  	color: white;
    position: absolute;
    top: 121px;
    right: 2px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
}
.science-electrinc .second-year-subject .scientific-department .subject-4{
	position: absolute;
	width: 120px;
    height: 110px;
    background-color: #c0392b;
    border-radius: 50%;
    top: 282px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-4 img{
  	width: 107px;
    height: 80px;
    position: absolute;
    top: 17px;
    right: 10px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 25px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .second-year-subject .scientific-department .subject-5{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: rgb(157, 54, 399);
    border-radius: 50%;
    top: 60px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-5 img{
    width: 93px;
    height: 86px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 34px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.science-electrinc .second-year-subject .scientific-department .subject-6{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: rgb(75, 63, 139);
    border-radius: 50%;
    top: 282px;
    right: 587px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-6 img{
	width: 76px;
    height: 74px;
    position: absolute;
    top: 17px;
    right: 21px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-6 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 31px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .second-year-subject .scientific-department .subject-7{
    position: absolute;
   	width: 120px;
    height: 110px;
    background-color: #27AD87;
    border-radius: 50%;
    top: 282px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .scientific-department .subject-7 img{
    width: 84px;
    height: 78px;
    position: absolute;
    top: 20px;
    right: 19px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .scientific-department .subject-7 h3{
	color: white;
    position: absolute;
    top: 121px;
    right:-74px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 158px;
    font-size: 18px;
}
.science-electrinc .second-year-subject .subject-1:hover,.science-electrinc .second-year-subject .subject-2:hover,.science-electrinc .second-year-subject .subject-3:hover,.science-electrinc .second-year-subject .subject-4:hover,.science-electrinc .second-year-subject .subject-5:hover,.science-electrinc .second-year-subject .subject-6:hover,.science-electrinc .second-year-subject .subject-7:hover
{
	transform:scale(1.1,1.1);
	transition:all 0.5s linear
}
.science-electrinc .second-year-subject
{
	    position: absolute;
    right: -246px;
}

.science-electrinc .second-year-subject .Literary-department
{
	 position: absolute;
     right: 288px;
	 display: none
}
.science-electrinc .second-year-subject .Literary-department i[ class="fas fa-arrow-left back4"] {
    position: absolute;
    top: 29px;
    right: 1257px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-1{
	position: absolute;
    width: 120px;
    height: 110px;
    border-radius: 50%;
    top: 60px;
    right: 149px;
    transition: all 0.5s linear;
	background-color: rgb(255, 131, 83);
}
.science-electrinc .second-year-subject .Literary-department .subject-1 img{
    width: 82px;
    height: 78px;
    position: absolute;
    top: 19px;
    right: 24px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-1 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 16px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .second-year-subject .Literary-department .subject-2{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 446px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-2 img{
  	width: 87px;
    height: 78px;
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-2 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 3px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 112px;
    font-size: 18px;
}
.science-electrinc .second-year-subject .Literary-department .subject-3{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 740px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-3 img{
  	width: 87px;
    height: 78px;
    position: absolute;
    top: 25px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-3 h3{
    color: white;
    position: absolute;
    top: 121px;
    right: 2px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
}
.science-electrinc .second-year-subject .Literary-department .subject-4{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #7072EC;
    border-radius: 50%;
    top: 282px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-4 img{
   	width: 107px;
    height: 80px;
    position: absolute;
    top: 17px;
    right: -20px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 35px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .second-year-subject .Literary-department .subject-5{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: rgb(157, 54, 399);
    border-radius: 50%;
    top: 60px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-5 img{
    width: 93px;
    height: 86px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 26px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.science-electrinc .second-year-subject .Literary-department .subject-6{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color:#012E43;
    border-radius: 50%;
    top: 282px;
    right: 587px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-6 img{
	width: 106px;
    height: 82px;
    position: absolute;
    top: 9px;
    right: 8px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-6 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 31px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .second-year-subject .Literary-department .subject-7{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color:#c0392b;
    border-radius: 50%;
    top: 282px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .second-year-subject .Literary-department .subject-7 img{
   	width: 84px;
    height: 78px;
    position: absolute;
    top: 20px;
    right: 19px;
    cursor: pointer;
}
.science-electrinc .second-year-subject .Literary-department .subject-7 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: -23px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    width: 158px;
    font-size: 18px;
}

/* تالتة ثانوي*/


.subject-of-types-third{
	position: absolute;
	top:20px;
	z-index:30;
    right: 176px;
	display:none
}
.subject-of-types-third i[class="fas fa-arrow-left back5"] {
    position: absolute;
    top: 0px;
    right: 1133px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.subject-of-types-third .science-button{
	position: absolute;
    top: 185px;
    right: 19px;
    width: 223px;
    height: 60px;
    background-color:#056787;
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.subject-of-types-third .science-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white
}
.subject-of-types-third .math-button{
	position: absolute;
    top: 185px;
    right: 389px;
    width: 223px;
    height: 60px;
    background-color: rgb(255, 131, 83);
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
}
.subject-of-types-third .math-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white
}
.subject-of-types-third .literary-button{
	position: absolute;
    top: 185px;
    right: 741px;
    width: 223px;
    height: 60px;
    background-color:rgb(75, 63, 139);
	border-radius:30px;
	cursor: pointer;
	transition:all 0.5s linear
	
}
.subject-of-types-third .literary-button button{
	width:100%;
	height:100%;
	font-size:23px;
	border:none;
	background: none;
	outline:none;
	font-family: 'Cairo', sans-serif;
	font-weight:bold;
	cursor: pointer;
	color:white;
}

.subject-of-types-third .science-button:hover,
.subject-of-types-third .math-button:hover,
.subject-of-types-third .literary-button:hover
{
	transform:scale(1.07,1.07);
	transition:all 0.5s linear
}
/* علمي علوم */
.science-electrinc .third-year-subject .science-department {
	display:none ;
	position: absolute;
    right: 20px;
}
.third-year-subject i[ class="fas fa-arrow-left back6"] {
    position: absolute;
    top: 30px;
    right: 1286px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-1{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: rgb(255, 131, 83);
    border-radius: 50%;
    top: 60px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-1 img{
    width: 81px;
    height: 78px;
    position: absolute;
    top: 21px;
    right: 25px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-1 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .science-department .subject-2{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 446px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-2 img{
    width: 89px;
    height: 78px;
    position: absolute;
    top: 17px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-2 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 5px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 112px;
}
.science-electrinc .third-year-subject .science-department .subject-3 {
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 740px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-3 img{
    width: 85px;
    height: 78px;
    position: absolute;
    top: 23px;
    right: 16px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-3 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 5px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
	
}
.science-electrinc .third-year-subject .science-department .subject-4{
	position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #c0392b;
    border-radius: 50%;
    top: 282px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-4 img{
	width: 77px;
    height: 83px;
    position: absolute;
    top: 14px;
    right: 23px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 24px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .science-department .subject-5{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: rgb(157, 54, 399);
    border-radius: 50%;
    top: 60px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-5 img{
   	width: 88px;
    height: 78px;
    position: absolute;
    top: 22px;
    right: 17px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 34px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}

.science-electrinc .third-year-subject .science-department .subject-6{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: rgb(75, 63, 139);
    border-radius: 50%;
    top: 282px;
    right: 587px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-6 img{
	width: 67px;
    height: 72px;
    position: absolute;
    top: 19px;
    right: 28px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-6 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 32px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .science-department .subject-7{
    position: absolute;
   	width: 120px;
    height: 110px;;
    background-color: #27AD87;
    border-radius: 50%;
    top: 282px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .science-department .subject-7 img{
   	width: 92px;
    height: 78px;
    position: absolute;
    top: 18px;
    right: 19px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .science-department .subject-7 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 38px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .third-year-subject .science-department .subject-1:hover,.science-electrinc .third-year-subject .science-department .subject-2:hover,.science-electrinc .third-year-subject .science-department .subject-3:hover,.science-electrinc .third-year-subject .science-department .subject-4:hover,.science-electrinc .third-year-subject .science-department .subject-5:hover,.science-electrinc .third-year-subject .science-department .subject-5:hover,.science-electrinc .third-year-subject .science-department .subject-6:hover,.science-electrinc .third-year-subject .science-department .subject-7:hover
{
	transform:scale(1.1,1.1);
	transition:all 0.5s linear
}
/*علمي رياضة*/
.science-electrinc .third-year-subject .math-department {
	display:none;
	position: absolute;
    right: 20px;
}
.third-year-subject i[ class="fas fa-arrow-left back7"] {
  	position: absolute;
    top: 32px;
    right: 1285px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-1{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: rgb(255, 131, 83);
    border-radius: 50%;
    top: 60px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-1 img{
     width: 80px;
    height: 78px;
    position: absolute;
    top: 21px;
    right: 27px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-1 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 11px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px
}
.science-electrinc .third-year-subject .math-department .subject-2{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 446px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-2 img{
    width: 86px;
    height: 78px;
    position: absolute;
    top: 16px;
    right: 19px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-2 h3{
	width: 112px;
    color: white;
    position: absolute;
    top: 121px;
    right: 3px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;

}
.science-electrinc .third-year-subject .math-department .subject-3 {
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 740px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-3 img{
    width: 86px;
    height: 65px;
    position: absolute;
    top: 33px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-3 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 6px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
}
.science-electrinc .third-year-subject .math-department .subject-4{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #c0392b;
    border-radius: 50%;
    top: 282px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-4 img{
   	width: 98px;
    height: 83px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 7px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .math-department .subject-5{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color:rgb(157, 54, 399);
    border-radius: 50%;
    top: 60px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-5 img{
    width: 87px;
    height: 78px;
    position: absolute;
    top: 21px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 33px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}

.science-electrinc .third-year-subject .math-department .subject-6{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: rgb(75, 63, 139);
    border-radius: 50%;
    top: 282px;
    right: 587px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-6 img{
    width: 63px;
    height: 66px;
    position: absolute;
    top: 21px;
    right: 28px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-6 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 28px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .math-department .subject-7{
    position: absolute;
    width: 120px;
    height: 110px;;
    background-color: #27AD87;
    border-radius: 50%;
    top: 282px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .math-department .subject-7 img{
   	width: 92px;
    height: 78px;
    position: absolute;
    top: 16px;
    right: 14px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .math-department .subject-7 h3{
	color: white;
    position: absolute;
    top: 121px;
    right:-32px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 158px;
}
.science-electrinc .third-year-subject .math-department .subject-1:hover,.science-electrinc .third-year-subject .math-department .subject-2:hover,.science-electrinc .third-year-subject .math-department .subject-3:hover,.science-electrinc .third-year-subject .math-department .subject-4:hover,.science-electrinc .third-year-subject .math-department .subject-5:hover,.science-electrinc .third-year-subject .math-department .subject-5:hover,.science-electrinc .third-year-subject .math-department .subject-6:hover,.science-electrinc .third-year-subject .math-department .subject-7:hover
{
	transform:scale(1.1,1.1);
	transition:all 0.5s linear
}

/*القسم الادبي تالته ثانوي*/
.science-electrinc .third-year-subject .Literary-department-third {
	display:none;
	position: absolute;
    right: 20px;
}
.science-electrinc .third-year-subject .Literary-department-third i[ class="fas fa-arrow-left back8"] {
    position: absolute;
    top: 30px;
    right: 1269px;
    font-size: 20px;
    color: #2A0801;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-1{
    position: absolute;
   	width: 120px;
    height: 110px;
    background-color: rgb(255, 131, 83);
    border-radius: 50%;
    top: 60px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-1 img{
	width: 80px;
    height: 78px;
    position: absolute;
    top: 17px;
    right: 27px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-1 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 12px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-2{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #5D05C1;
    border-radius: 50%;
    top: 60px;
    right: 446px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-2 img{
    width: 84px;
    height: 78px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-2 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 0px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 112px;
	
}
.science-electrinc .third-year-subject .Literary-department-third .subject-3 {
    position: absolute;
   	width: 120px;
    height: 110px;
    background-color: #5D054A;
    border-radius: 50%;
    top: 60px;
    right: 740px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-3 img{
   	width: 89px;
    height: 66px;
    position: absolute;
    top: 33px;
    right: 18px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-3 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 6px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
	
}
.science-electrinc .third-year-subject .Literary-department-third .subject-4{
	position: absolute;
    width: 120px;
    height: 110px;
    background-color: #7072EC;
    border-radius: 50%;
    top: 282px;
    right: 149px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-4 img{
    width: 98px;
    height: 83px;
    position: absolute;
    top: 16px;
    right: -14px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-4 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 34px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}
.science-electrinc .third-year-subject .Literary-department-third .subject-5{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color:#056787;
    border-radius: 50%;
    top: 60px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-5 img{
    width: 87px;
    height: 78px;
    position: absolute;
    top: 18px;
    right: 17px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-5 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 27px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
	
}

.science-electrinc .third-year-subject .Literary-department-third .subject-6{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #012E43;
    border-radius: 50%;
    top: 282px;
    right: 587px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-6 img{
    width: 93px;
    height: 75px;
    position: absolute;
    top: 13px;
    right: 14px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-6 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: 30px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-7{
    position: absolute;
    width: 120px;
    height: 110px;
    background-color: #c0392b;
    border-radius: 50%;
    top: 282px;
    right: 1005px;
    transition: all 0.5s linear;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-7 img{
    width: 80px;
    height: 78px;
    position: absolute;
    top: 20px;
    right: 21px;
    cursor: pointer;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-7 h3{
	color: white;
    position: absolute;
    top: 121px;
    right: -18px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 158px;
}
.science-electrinc .third-year-subject .Literary-department-third .subject-1:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-2:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-3:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-4:hover,.science-electrinc .third-year-subject .math-department .subject-5:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-5:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-6:hover,.science-electrinc .third-year-subject .Literary-department-third .subject-7:hover
{
	transform:scale(1.1,1.1);
	transition:all 0.5s linear
}
